
<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="/animals/:id" role="button">Learn more</a></p>
</div>



<div class='row'>
<% @animal.each do | animal | %>
          <% if animal.animal %>

          <div class='col-xs-4 col-sm-3 col-md-3'>
          <div class='thumbnail'>

          <img src="<%= animal.photo %>" style='width:340px; height:260px;'>

          <div class='caption'>
          <h3> <%= animal.animal %></h3>
          <p><%= animal.habitat %></p>
          <p><a href='/animals/<%= animal.id %>' class='btn btn-primary' role='button'>Button</a></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


