<!-- create new -->

<h1>Add A New Animal</h1>

<div class='jumbotron'>
<header>
 <img src='https://ucarecdn.com/0d3e97a3-dc7f-45b3-8150-adb96afd5af6/'>
<header>
</div>

<div class='jumbotron'>
<form method="POST" action="/animals">
  
  Animal: <br>
  <input type="text" class='radius' name="animal[animal]" placeholder="animal"><br>

  Habitat: <br>
  <input type="text" class='radius' name="animal[habitat]" placeholder="habitat"><br>

  Behavior: <br>
  <input type="text" class='radius' name="animal[habitat]" placeholder="behavior"><br>

  Threats: <br>
  <input type="text" class='radius' name="animal[threat]" placeholder="threats"><br>
<!-- 
  Life Expectancy: <br>
  <input type="text" name="animal[animal]" placeholder="Animal Name"><br> -->

  Other Facts: <br>
  <input type="text"  class='radius' name="animal[other_facts]" placeholder="other facts"><br>
  <input type="submit" value="Submit">



</form>
</div>