/*#index page /animals*/
.jumbotron {
    background-image: url("https://ucarecdn.com/a4fafdfb-506f-47f4-874f-86c34148fd1b/");
    background-size: cover;
    border: 20px solid gray;
    height: 600px;
    color: white;
    max-width: 100%;
    margin-bottom: 1%;
}
.thumbnail {     
   margin: 0 auto; 
   padding: 4px; 
   height: 500px;
   overflow: auto;
   max-width: 100%; 
   background-color: gray;
   display: inline-block;
}
.subMainParagraph {
    color: black;
    max-width: 400px;
}
.animalTextColor {
    color: orange;
}
.threatTextColor {
     color: white;
     font-size: 16px;
}
.subjectTitleText {
    color: black;
    font-size: 16px;
}

/*#create new animal page /animals/new*/
.createPageTextHead {
    margin-top: -10%;
    margin-bottom: 2%;
    color: orange;
    text-shadow: 10px;
    background: black;
    height: 100px;
    padding: 2%;
}
#createPageImage {
    background: url('https://ucarecdn.com/0d3e97a3-dc7f-45b3-8150-adb96afd5af6/') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    text-align: center;
    padding-top: 10%;
    margin: 0 auto;
}
.createPageForm {
    background: rgba(192, 192, 192, 0.59);
    width: 400px;
    margin-left: 10px;
    color: black;
    border-radius: 10px;
    margin: 0 auto;
    padding: 5px;
}
.addNewButton {
    color: black;
    background: orange;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}

/*show animal by ID page /animals/:id*/
.showImage {
    height: 80vh;
    width: 60vw;
    position: relative;
    float: left;
    border: gray solid 30px;
    margin: 0 auto;
}
.showInfo {
    position: relative;
    float: right;
    border: 20px solid gray;
    padding: 11px; 
    float: left;
    margin-left: 30px;
}
.showDeleteButton {
    border-radius: 5px;
    background: red;
    padding-left: 3px;
    position: relative;
    float: right;
    display: block;
    height: 35px;
}
#editButton {
    color: black;
    padding: 10px;
    margin: auto;
}
.homeButton {
    color: black;
    border-radius: 5px;
    background: #337ab7;
    padding-left: 5px;
    position: relative;
    display: block;
    padding: 6px;
    width: 136px;
    margin-top: 3px;
}
.homeButtonText {
    color: black;
}

/*#edit animal page /animals/:id/edit*/
.editPageImage {
    background-image: url("https://ucarecdn.com/0869f3c3-d011-47b4-a683-960eb8e89647/");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    text-align: center;
    padding-top: 4%;
}
.editPageForm {
    background: rgba(192, 192, 192, 0.59);
    width: 400px;
    margin-left: 10px;
    color: black;
    border-radius: 10px;
    margin: 0 auto;
    padding: 5px;
}
.saveChangesButton {
    color: black;
    background: orange;
    border-radius: 5px;
    padding: 6px;
    margin: 20px;
}
.homeEditPageButton {
    padding: 5.5px;
    margin: 20px;
    border-radius: 5px;
    background: #337ab7;
    width: 110px;
}
.editPageTextHead {
    margin-top: -5%;
    margin-bottom: 2%;
    color: orange;
    text-shadow: 10px;
    background: black;
    height: 100px;
    padding: 2%;
}


